
.abouttext {
  text-align: center;
  padding: 15px;
 border: 3px solid red;
 text-align: center;
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 5%;
}

.pfp {
  width: 260px;
  height: 260px;
}

.profiles {
  display: flex;
  align-items:center;


}

.pfpcards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px;
  text-align: center;
  font-family: arial;
  flex: 33.33%;
  border: solid 4px black;
}

.title {
  color: grey;
  font-size: 18px;
}

.instaicon {
  width:45px;
}
