
.abouttext {
  text-align: center;
  padding: 15px;
 border: 3px solid red;
 text-align: center;
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 5%;
}

.pfp {
  width: 265px;
  height: 265px;
}

.profiles {
  display: flex;
  align-items:center;


}

.pfpcards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;

padding: 10px;
margin-left: 181px;
margin-right: 181px;
border: double 6px black;
border-radius: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}

.instaicon {
  width:45px;
}
